* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.logo a svg path {
    fill: black;
}

.bi-house{
    color: black;
}

.categories {
    width: 240px;
    height: 100vh; /* full viewport height */
    background: white;
    position: fixed; /* sticks to the left */
    top: 0;
    left: 0;
    overflow-y: auto;
}

ul{
    list-style: none;
}

.sidebar-menu{
    width: 100%;
}

.sidebar-menu .bi {
  font-size: 1.5rem;
  color: black;      
  vertical-align: middle; 
}

.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 24px;
    font-size: 14px;
    cursor: pointer;
    font-weight: 400;
}

.category:hover {
    background-color: #f0f0f0;
}

.category.active {
    font-weight: 700;
}

.category.active .bi {
    color: #000;
}