* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

.logo svg{
    fill: black;
    height: 31px;
    width: 31px;
    margin-left:22px;
}

.categories {
    width: 400px;
    height: 100vh; 
    background: white;
    justify-content: space-between;
    flex-direction: column;
    position: fixed; 
    top: 0;
    left: 0;
    border-right: 1px solid #ababab;
    overflow-y: auto;
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
}

.sidebar-menu{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 15px; /* controls spacing between menu items */
    padding-top: 20px;
}

.category .li {
  font-size: 2rem;
  color: black;      
  vertical-align: middle; 
}

.category {
    width: 100%;
    display: flex;
    align-items: center;
    height: auto;
    padding: 1px 24px;
    font-size: 20px;
    cursor: pointer;
    font-weight: 400;
    gap: 15px;
}

.category:hover {
    background-color: #f0f0f0;
    border-radius: 35px;
}

.category.active {
    font-weight: 700;
}

.category svg{
    height: 26px; 
    width: 26px;
}

#post{
    color: white;
    background-color: #000;
    border-radius: 25px;
    width: 220px;
    height: 50px;
    text-align: center;
    display: flex;            
    align-items: center;       
    justify-content: center;
    font-weight: 600;
}

.categories-footer img{
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.categories-footer {
    padding: 10px 24px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: auto;
    
}

.categories-footer p{
    font-weight: 600;
    font-size: 15px;
}

p span{
    color: grey;
}

.mainbody {
    height: calc(100vh - 56px);
    display: flex;
    overflow: hidden;
}