* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo a svg path {
    fill: black;
}

.categories {
    width: 240px;
    height: 100%;
    background: white;
    overflow-y: scroll;
}